:root{
    --color-negro:#364E65;
    --color-texto:#919b97;
    --color-celeste:#3793F6;
    --color-input:#EEF5F9;
}
/* Estilos generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f7f9fd;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

a{
    text-decoration: none;
}
/* Estilos contenedor formularios */

.fondo {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/fondo.jpg");
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
 }  
 
 #formLogin{
    border:2px white solid;
    border-radius: 2%;
    padding: 20px;
    box-shadow: gray;
 }

.contenedor-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.contenedor-form .titulo{
    display: flex;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: gray;
    justify-content: center;
}

.contenedor-form .descripcion{
    display: flex;
    font-size: 15px;
    color: var(--color-texto);
    margin-bottom: 10px;
    justify-content: center;
}
/* Estilos Formularios */

.formulario{
    display: none;
    margin-top: 30px;
}

.formulario.active{
    display: block;
}

.formulario .input-text{
    padding: 14px 20px;
    border: 1px solid transparent;
    background: var(--color-input);
    margin-bottom: 20px;
    border-radius: 3px;
    width: 100%;
    outline: 0;
    font-size: 14px;
    color: var(--color-texto);
}

.formulario .grupo-input{
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.formulario .grupo-input .input-text{
    padding-right: 60px;
    margin-bottom: 0px;
}

.formulario .grupo-input .icono{
    position: absolute;
    width: 60px;
    height: 100%;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 18px;
    color: var(--color-texto);
    right: 0;
    outline: 0;
}

.formulario .grupo-input .icono.active{
    color: var(--color-celeste);
}

.formulario .input-text:focus{
    border: 2px solid rgb(0, 255, 0);
}

.link{
    font-size: 14px;
    color: var(--color-texto);
}

.link:hover{
    text-decoration: underline;
}

.formulario .btn{
    width: 100%;
    padding: 14px;
    border: none;
    background: var(--color-celeste);
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 30px;
    outline: 0;
    cursor: pointer;
    display: block;
}
.formulario .btn:hover{
    background: #0e02b4;
}
/* Estilos mesajes de error */

.error-text{
    background: var(--color-input);
    border-radius: 4px;
    padding: 8px 20px;
    margin-bottom: 10px;
    display: none;
}

.error-text p{
    font-size: 13px;
    color: var(--color-celeste);
}

.error-text.active{
    display: block;
}