* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif ;
    margin: 0;
}

h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 2em;}
p  {font-size: 1.25em;}

.botons {
    padding-top: 20px;
    display: inline-block;
    padding: 10px 20px; /* Ajusta el espacio interno del botón */
    background-color: rgb(252, 45, 30); /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border: none; /* Elimina el borde */
    border-radius: 6px; /* Redondea las esquinas */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
  }

  .botons:hover {
    background-color:  rgb(201, 19, 6);
  }

.boton {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el espacio interno del botón */
    background-color: rgb(252, 45, 30); /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border: none; /* Elimina el borde */
    border-radius: 6px; /* Redondea las esquinas */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
  }
  
  .boton:hover {
    background-color: rgb(201, 19, 6); /* Cambia el color de fondo al pasar el ratón */
  }
  
.container {
    max-width: 100%;
    margin: auto;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/ufpso.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
}

#somos-UFPSO .container {
    text-align: center;
    width: 90%; 
    height: 200px; 
    padding: 10px; 
    margin: 30px;
}

#somos-UFPSO span {
    color: red;
}

#nuestras-facultades {
    background-color: rgb(236, 45, 45);
    color: white;
    text-align: center;
}

#nuestras-facultades p{
    justify-content: center;
    font-size: 1.5em;

}

#nuestras-facultades .botons{
    margin-top: 25px;
}

#nuestras-facultades .container{
    display: flex;
    padding: 30px;
}

#nuestras-facultades .facultad {
    background-position: center center;
    background-size:cover;
    margin: 25px 10px;
    border-radius: 17px;
    padding: 5px;
    width: 300px; 
    height: 220px;    
}

#nuestras-facultades p {
    display:contents;
    display: flex;
    padding-top: 50px;
    
}

.facultad:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    , url("../img/sistemas.jpg");
    background-repeat: no-repeat;
}

.facultad:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/derecho.jpg");
    background-repeat: no-repeat;

}


.facultad:nth-child(3) {
    background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/contaduria.jpg");
}

.facultad:nth-child(4) {
    background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/zootecnia.jpg");
}

#redes_sociales {
    display:flex;
    justify-content:center;
   
  }

  #redes_sociales a {
    display:block;
    justify-content:space-between;
    margin:3% 1%;
    color: rgb(255, 2, 2);
  }

footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    margin: 0;
    padding: 10px;
    color: rgb(100, 100, 100) ;
}

footer .container {
height: 45px;
display: flex;
justify-content: center;
align-items: flex-end;
}